In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('./data/book_dataset/Books.csv')
ratings = pd.read_csv('./data/book_dataset/Ratings.csv')
users = pd.read_csv('./data/book_dataset/Users.csv')

C:\Users\dashp\AppData\Local\Temp\ipykernel_5376\1151900888.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('./data/book_dataset/Books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [6]:
users.shape

(278858, 3)

In [7]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
users[users['User-ID']==276726]

        User-ID                  Location  Age
276725   276726  seattle, washington, usa  NaN

In [9]:
books[books['ISBN']=='0155061224']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
225816,0155061224,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...

In [10]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [11]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [12]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [13]:
books.duplicated().sum()

0

In [14]:
ratings.duplicated().sum()

0

In [15]:
users.duplicated().sum()

0

In [16]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [17]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'}, inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [18]:
print(ratings_with_name['Book-Rating'].dtype)

int64

In [19]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_ratings'}, inplace=True)
avg_rating_df

                                               Book-Title  avg_ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [20]:
popular_df = num_rating_df.merge(avg_rating_df, on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [21]:
popular_df = popular_df[popular_df['num_ratings'] > 250].sort_values('avg_ratings',ascending=False)
popular_df

,Book-Title,num_ratings,avg_ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
...,...,...,...
227701,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283
233635,Whispers,286,2.199301
143377,Presumed Innocent,294,2.139456
94382,Isle of Dogs,288,2.000000
234951,Wild Animus,2502,1.019584

In [22]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','num_ratings','avg_ratings','Image-URL-L','Year-Of-Publication','Publisher']]
popular_df

,Book-Title,Book-Author,num_ratings,avg_ratings,Image-URL-L,Year-Of-Publication,Publisher
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804,http://images.amazon.com/images/P/0439136350.0...,1999,Scholastic
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289,http://images.amazon.com/images/P/0439139597.0...,2000,Scholastic
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,278,5.737410,http://images.amazon.com/images/P/0590353403.0...,1998,Scholastic
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,347,5.501441,http://images.amazon.com/images/P/043935806X.0...,2003,Scholastic
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,556,5.183453,http://images.amazon.com/images/P/0439064872.0...,2000,Scholastic
...,...,...,...,...,...,...,...
716,Vinegar Hill (Oprah's Book Club (Paperback)),A. Manette Ansay,265,2.245283,http://images.amazon.com/images/P/0380730138.0...,1998,Perennial
717,Whispers,BELVA PLAIN,286,2.199301,http://images.amazon.com/images/P/0440216745.0...,1994,Dell
727,Presumed Innocent,Scott Turow,294,2.139456,http://images.amazon.com/images/P/0446359866.0...,1989,Warner Books
733,Isle of Dogs,Patricia Cornwell,288,2.000000,http://images.amazon.com/images/P/0425182908.0...,2002,Berkley Publishing Group
739,Wild Animus,Rich Shapero,2502,1.019584,http://images.amazon.com/images/P/0971880107.0...,2004,Too Far

In [23]:
popular_df.iloc[0]

Book-Title             Harry Potter and the Prisoner of Azkaban (Book 3)
Book-Author                                                J. K. Rowling
num_ratings                                                          428
avg_ratings                                                     5.852804
Image-URL-L            http://images.amazon.com/images/P/0439136350.0...
Year-Of-Publication                                                 1999
Publisher                                                     Scholastic
Name: 0, dtype: object

COLLABORATIVE

In [24]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
voting_users = x[x].index

In [25]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(voting_users)]

In [26]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index
print(famous_books[:5])

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road'],
      dtype='object', name='Book-Title')

In [27]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1150,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1163,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
1165,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...
1168,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...
1174,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...
...,...,...,...,...,...,...,...,...,...,...
1029196,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...
1029197,275970,1400031362,0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...
1029270,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...
1029309,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...
1029310,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...

In [28]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(pt)
similarity_scores.shape

(706, 706)

In [30]:
sorted_scores = sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)[1:11]

In [31]:
df = pd.DataFrame(pt.index.tolist(),columns=['Book_Name'])
df['sorted_scores'] = [sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:11] for index in range(pt.shape[0])]

In [32]:
df

,Book_Name,sorted_scores
0,1984,"[(47, 0.2702651417103732), (545, 0.26396193711..."
1,1st to Die: A Novel,"[(39, 0.30746647647493613), (407, 0.2827397366..."
2,2nd Chance,"[(203, 0.3918276378683357), (577, 0.3499136899..."
3,4 Blondes,"[(553, 0.21653836784507968), (389, 0.192815491..."
4,A Bend in the Road,"[(24, 0.2956261183177974), (564, 0.29142141649..."
...,...,...
701,Year of Wonders,"[(522, 0.29179150338901577), (11, 0.2399287128..."
702,You Belong To Me,"[(311, 0.5685935467694211), (260, 0.5119813565..."
703,Zen and the Art of Motorcycle Maintenance: An ...,"[(392, 0.3319053449234021), (374, 0.2604457802..."
704,Zoya,"[(194, 0.6188332046777835), (424, 0.5423917439..."
705,"\O\"" Is for Outlaw""","[(256, 0.43518288586423914), (90, 0.4241189858..."

In [35]:
import pickle

pickle.dump(popular_df,open('popular.pkl','wb'))

In [36]:
df.shape

(706, 2)

In [37]:
final_ratings.drop_duplicates(['Book-Title'],inplace=True)

C:\Users\dashp\AppData\Local\Temp\ipykernel_5376\3382196523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_ratings.drop_duplicates(['Book-Title'],inplace=True)

In [38]:
final_ratings.rename(columns={'Book-Title': 'Book_Name'}, inplace=True)

C:\Users\dashp\AppData\Local\Temp\ipykernel_5376\3196988387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_ratings.rename(columns={'Book-Title': 'Book_Name'}, inplace=True)

In [55]:
df = df.merge((final_ratings),on='Book_Name')

In [63]:
df.head()

,Book_Name,sorted_scores,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,1984,"[(47, 0.2702651417103732), (545, 0.26396193711...",254,0451524934,9,George Orwell,1990,Signet Book,http://images.amazon.com/images/P/0451524934.0...,http://images.amazon.com/images/P/0451524934.0...,http://images.amazon.com/images/P/0451524934.0...
1,1st to Die: A Novel,"[(39, 0.30746647647493613), (407, 0.2827397366...",6543,0446610038,9,James Patterson,2002,Warner Vision,http://images.amazon.com/images/P/0446610038.0...,http://images.amazon.com/images/P/0446610038.0...,http://images.amazon.com/images/P/0446610038.0...
2,2nd Chance,"[(203, 0.3918276378683357), (577, 0.3499136899...",277639,0446612790,0,James Patterson,2003,Warner Vision,http://images.amazon.com/images/P/0446612790.0...,http://images.amazon.com/images/P/0446612790.0...,http://images.amazon.com/images/P/0446612790.0...
3,4 Blondes,"[(553, 0.21653836784507968), (389, 0.192815491...",6251,0451203895,0,Candace Bushnell,2002,Signet Book,http://images.amazon.com/images/P/0451203895.0...,http://images.amazon.com/images/P/0451203895.0...,http://images.amazon.com/images/P/0451203895.0...
4,A Bend in the Road,"[(24, 0.2956261183177974), (564, 0.29142141649...",254,0446527785,0,Nicholas Sparks,2001,Warner Books,http://images.amazon.com/images/P/0446527785.0...,http://images.amazon.com/images/P/0446527785.0...,http://images.amazon.com/images/P/0446527785.0...

In [61]:
def recommend(book_name):
    similar_items = df[df['Book_Name'] == book_name]['sorted_scores'].values[0]
    for i in similar_items:
        book = df.iloc[i[0]]
        print(book)

In [62]:
recommend('Message in a Bottle')

Book_Name                                             Nights in Rodanthe
sorted_scores          [(573, 0.33801114410745414), (135, 0.337997286...
User-ID                                                             7158
ISBN                                                          0446531332
Book-Rating                                                            0
Book-Author                                              Nicholas Sparks
Year-Of-Publication                                                 2002
Publisher                                                   Warner Books
Image-URL-S            http://images.amazon.com/images/P/0446531332.0...
Image-URL-M            http://images.amazon.com/images/P/0446531332.0...
Image-URL-L            http://images.amazon.com/images/P/0446531332.0...
Name: 355, dtype: object
Book_Name                                              The Mulberry Tree
sorted_scores          [(199, 0.626565679576365), (325, 0.52493461377...
User-ID                                                            11676
ISBN                                                          0671014218
Book-Rating                                                           10
Book-Author                                                Jude Deveraux
Year-Of-Publication                                                 2002
Publisher                                                    Atria Books
Image-URL-S            http://images.amazon.com/images/P/0671014218.0...
Image-URL-M            http://images.amazon.com/images/P/0671014218.0...
Image-URL-L            http://images.amazon.com/images/P/0671014218.0...
Name: 573, dtype: object
Book_Name                                             A Walk to Remember
sorted_scores          [(602, 0.44602934936785466), (355, 0.337379538...
User-ID                                                           278418
ISBN                                                          0446608955
Book-Rating                                                            0
Book-Author                                              Nicholas Sparks
Year-Of-Publication                                                 2000
Publisher                                                   Warner Books
Image-URL-S            http://images.amazon.com/images/P/0446608955.0...
Image-URL-M            http://images.amazon.com/images/P/0446608955.0...
Image-URL-L            http://images.amazon.com/images/P/0446608955.0...
Name: 24, dtype: object
Book_Name                                                    River's End
sorted_scores          [(413, 0.5668773424206699), (325, 0.5288124792...
User-ID                                                           278418
ISBN                                                          0515127833
Book-Rating                                                            0
Book-Author                                                 Nora Roberts
Year-Of-Publication                                                 2003
Publisher                                                     Jove Books
Image-URL-S            http://images.amazon.com/images/P/0515127833.0...
Image-URL-M            http://images.amazon.com/images/P/0515127833.0...
Image-URL-L            http://images.amazon.com/images/P/0515127833.0...
Name: 404, dtype: object
Book_Name                                   Nightmares &amp; Dreamscapes
sorted_scores          [(406, 0.46232573127629223), (204, 0.433138891...
User-ID                                                             7158
ISBN                                                          0451180232
Book-Rating                                                            0
Book-Author                                                 Stephen King
Year-Of-Publication                                                 2004
Publisher                                                    Signet Book
Image-URL-S            http://images.amazon.com/images/P/0451180232.0...
Image-URL-M            http://images.amazon.com/images/P/0451180232.0...
Image-URL-L            http://images.amazon.com/images/P/0451180232.0...
Name: 354, dtype: object
Book_Name                                                      Sanctuary
sorted_scores          [(404, 0.5668773424206699), (248, 0.5511962510...
User-ID                                                             6563
ISBN                                                          0399142401
Book-Rating                                                            0
Book-Author                                                 Nora Roberts
Year-Of-Publication                                                 1997
Publisher                                        Putnam Publishing Group
Image-URL-S            http://images.amazon.com/images/P/0399142401.0...
Image-URL-M            http://images.amazon.com/images/P/0399142401.0...
Image-URL-L            http://images.amazon.com/images/P/0399142401.0...
Name: 413, dtype: object
Book_Name                                      All I Really Need to Know
sorted_scores          [(276, 0.24894293838598558), (322, 0.223104058...
User-ID                                                           278418
ISBN                                                          080410526X
Book-Rating                                                            0
Book-Author                                               ROBERT FULGHUM
Year-Of-Publication                                                 1989
Publisher                                                      Ivy Books
Image-URL-S            http://images.amazon.com/images/P/080410526X.0...
Image-URL-M            http://images.amazon.com/images/P/080410526X.0...
Image-URL-L            http://images.amazon.com/images/P/080410526X.0...
Name: 36, dtype: object
Book_Name                                                 Midnight Bayou
sorted_scores          [(404, 0.5288124792269979), (573, 0.5249346137...
User-ID                                                            11676
ISBN                                                          0399148248
Book-Rating                                                            9
Book-Author                                                 Nora Roberts
Year-Of-Publication                                                 2001
Publisher                                        Putnam Publishing Group
Image-URL-S            http://images.amazon.com/images/P/0399148248.0...
Image-URL-M            http://images.amazon.com/images/P/0399148248.0...
Image-URL-L            http://images.amazon.com/images/P/0399148248.0...
Name: 325, dtype: object
Book_Name              Hard Eight : A Stephanie Plum Novel (A Stephan...
sorted_scores          [(427, 0.5800201190371838), (245, 0.4661672000...
User-ID                                                             6575
ISBN                                                          0312265859
Book-Rating                                                            0
Book-Author                                              Janet Evanovich
Year-Of-Publication                                                 2002
Publisher                                             St. Martin's Press
Image-URL-S            http://images.amazon.com/images/P/0312265859.0...
Image-URL-M            http://images.amazon.com/images/P/0312265859.0...
Image-URL-L            http://images.amazon.com/images/P/0312265859.0...
Name: 226, dtype: object
Book_Name                                                     Dark Angel
sorted_scores          [(404, 0.40105405699458363), (325, 0.382277808...
User-ID                                                            16634
ISBN                                                          0553287397
Book-Rating                                                            0
Book-Author                                                Sally Beauman
Year-Of-Publication                                                 1991
Publisher                                                   Bantam Books
Image-URL-S            http://images.amazon.com/images/P/0553287397.0...
Image-URL-M            http://images.amazon.com/images/P/0553287397.0...
Image-URL-L            http://images.amazon.com/images/P/0553287397.0...
Name: 135, dtype: object

In [58]:
pickle.dump(df,open('recommendation_dataframe.pkl','wb'))